p{

    color: black;
    width: 500px;
    text-align: center;
   
    
}

article{
    color: blue;
    text-align: center;
}

body{

    size: 500px;
    margin: 10px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    
    
}
h1{

    font-size: 60px;
    font-weight: 400;
}
html{

    background-attachment: scroll;
    background-color:rgb(49, 48, 48);
    background-size: 500px; 
    text-align: center;


}

div{

    border-image: 3px;
    object-position: center;
    text-align: center;
}